<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-HJ3sMDD3v1v81pJG8r9JFq1s3/AMdGzX1cMx5PB3Q3/kKQ6to3VXPabNVJenmY1k" crossorigin="anonymous">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>